/* CHANGE ME: v0.4.1 */

body {
  background-color: #aaa;
}

#kc-form-login,
#kc-totp-login-form {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 26px 20px;
  max-width: 396px;
  margin: 0 auto;
}

@media (max-width: 400px) {
    #kc-form-login,
    #kc-totp-login-form {
        top: 50%;
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

@media (max-height: 450px) {
    #kc-form-login,
    #kc-totp-login-form {
        top: 53%;
    }
}

#kc-form-login .ctgo-avatar,
#kc-totp-login-form .ctgo-avatar {
  display: block;
  margin: 0 auto;
  margin-bottom: 32px;
}
@media (max-height: 520px) {
    #kc-form-login .ctgo-avatar,
    #kc-totp-login-form .ctgo-avatar {    
        margin-bottom: 20px;
        width: 52px;
        height: 52px;
    }
}
@media (max-height: 450px) {
    #kc-form-login .ctgo-avatar,
    #kc-totp-login-form .ctgo-avatar {    
        display: none;
    }
}
#kc-form-login .form-control,
#kc-totp-login-form .form-control {
  background: #fff;
  height: 48px;
  margin-bottom: 20px;
}
#kc-form-login .btn,
#kc-totp-login-form .btn {
  width: 68%;
}

#kc-totp-login-form #kc-cancel {
  margin-top: 12px;
}


#kc-form-login .forgotten,
#kc-totp-login-form .forgotten {
  margin-top: 18px;
  padding-top: 5px;
  border-top: 1px solid #bebebe;
}

#kc-form-login .forgotten > a,
#kc-totp-login-form .forgotten > a {
  color: #eaeaea;
}

@media (max-width: 400px) {
    #kc-form-login .forgotten,
    #kc-totp-login-form .forgotten {
        text-align: center;
        border-top: none;
        margin-top: 0;
    }
    #kc-form-login .forgotten > a,
    #kc-totp-login-form .forgotten > a {        
      display: block;
      width: 100%;
      margin-bottom: .2em;
      padding: 0;
    }
}

#kc-form-login .forgotten .pull-right,
#kc-totp-login-form .forgotten .pull-right {
    margin-left: 1em;
}